# DB
DATABASE_URL=

# BETTER AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Pusher
# SERVER SIDE
PUSHER_APP_ID = ""
PUSHER_SECRET = ""

# CLIENT SIDE
NEXT_PUBLIC_PUSHER_APP_KEY = ""
NEXT_PUBLIC_PUSHER_CLUSTER = ""

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=

# UploadThing
UPLOADTHING_TOKEN=

# Next URL
NEXT_PUBLIC_APP_URL=http://localhost:3000